@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ed4d18;
    --color-secundary: #ff9a3c;
    --color-black: #000;
    --color-white: #fff;
}

body {
    background: linear-gradient(90deg, #ffe7d1 0%, #fff2e6 100%);
    padding: 0 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-center {
    text-align: center;
}