@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ed4d18;
    --color-secundary: #ff9a3c;
    --color-black: #000;
    --color-white: #fff;
}

body {
    background: linear-gradient(90deg, #ffe7d1 0%, #fff2e6 100%);
    padding: 0 1rem;
}

header,
.hero-section,
.courses-section,
foooter {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header img {
    display: block;
    margin: 1rem auto;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav a {
    color: var(--color-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
}

header nav a:nth-child(2n-1) {
    text-align: right;
}

.button {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: 75rem 1rem;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-center {
    text-align: center;
}